<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>1</key>
    <string>舞蹈</string>
    <key>2</key>
    <string>模特</string>
    <key>3</key>
    <string>电影</string>
    <key>4</key>
    <string>播音主持</string>
    <key>5</key>
    <string>媒体</string>
    <key>6</key>
    <string>摄影</string>
    <key>7</key>
    <string>艺术</string>
    <key>8</key>
    <string>导演</string>
    <key>9</key>
    <string>表演</string>
    <key>10</key>
    <string>音乐</string>
    <key>11</key>
    <string>化妆</string>
</dict>
</plist>
