<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>欧美</string>
	<key>2</key>
	<string>性感</string>
	<key>3</key>
	<string>甜美</string>
	<key>4</key>
	<string>运动</string>
	<key>5</key>
	<string>日韩</string>
	<key>6</key>
	<string>清纯</string>
	<key>7</key>
	<string>气质</string>
	<key>8</key>
	<string>中国风</string>
	<key>9</key>
	<string>复古</string>
	<key>10</key>
	<string>学院</string>
	<key>11</key>
	<string>型男</string>
	<key>12</key>
	<string>男神</string>
	<key>13</key>
	<string>潮男</string>
	<key>14</key>
	<string>酷帅</string>
	<key>15</key>
	<string>儒雅</string>
	<key>16</key>
	<string>胡须男</string>
	<key>17</key>
	<string>运动</string>
	<key>18</key>
	<string>大叔范儿</string>
	<key>19</key>
	<string>肌肉男</string>
	<key>20</key>
	<string>休闲</string>
	<key>21</key>
	<string>可爱</string>
	<key>22</key>
	<string>淑女</string>
	<key>23</key>
	<string>街头</string>
	<key>24</key>
	<string>OL风</string>
	<key>25</key>
	<string>民族</string>
	<key>26</key>
	<string>英伦</string>
	<key>27</key>
	<string>绅士</string>
</dict>
</plist>
