<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>时尚人像</string>
	<key>2</key>
	<string>时装拍摄</string>
	<key>3</key>
	<string>婚纱样片</string>
	<key>4</key>
	<string>汽车广告</string>
	<key>5</key>
	<string>内衣拍摄</string>
	<key>6</key>
	<string>个护化妆</string>
	<key>7</key>
	<string>珠宝佩饰</string>
	<key>8</key>
	<string>游戏动漫</string>
	<key>9</key>
	<string>数码产品</string>
	<key>10</key>
	<string>视频广告</string>
	<key>11</key>
	<string>MV拍摄</string>
	<key>12</key>
	<string>电影拍摄</string>
	<key>13</key>
	<string>微电影拍摄</string>
	<key>14</key>
	<string>车展</string>
	<key>15</key>
	<string>T台走秀</string>
	<key>16</key>
	<string>发型秀</string>
	<key>17</key>
	<string>电视剧</string>
	<key>18</key>
	<string>娱乐节目</string>
	<key>19</key>
	<string>家居用品</string>
	<key>20</key>
	<string>其他产品</string>
	<key>21</key>
	<string>动漫游戏</string>
	<key>22</key>
	<string>商场演出</string>
	<key>23</key>
	<string>其他活动</string>
	<key>24</key>
	<string>礼仪模特</string>
	<key>25</key>
	<string>其他演出</string>
</dict>
</plist>
